{% extends "layout.html" %}
{% block body %}
    <script src="/static/flaskr.js"></script>
  <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <dl>
      <dt>Title:
      <dd><input type="text" size="30" name="title">
        <dt>Category:
        <dd><input type="text" size="30" name="category">
      <dt>Text:
      <dd><textarea name="text" rows="5" cols="40"></textarea>
      <dd><input type="submit" value="Share">
    </dl>
  <select id="filter" onchange="filterPost()">
      <option disabled selected>Filter Posts</option>
      <option value="All">All</option>
      {% for post in entries %}
          {% if post.category not in entries %}
            <option value="{{ post.category }}">{{ post.category }}</option>
          {% endif %}
      {% endfor %}
  </select>
  </form>
  <ul class="entries">
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2><h4>{{ entry.category }}</h4>{{ entry.text|safe }}</li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}
